@import url(react-big-calendar/lib/css/react-big-calendar.css);
@import url(react-big-calendar/lib/addons/dragAndDrop/styles.css);
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;1,700&display=swap");
@import url("https://use.typekit.net/eks2qsg.css");

* {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  padding: 0;
  margin: 0;
}

:root {
  --event-bg-color: #1164ee;
  --theme-color: #5082ff;
  --today-bg-color: #c2d2fb;
  --grey-border: #34495e;
  --side-nav-bar-bg-color: #ffffff;
  --my-calendar-bg-color: #fbfbfb;
  --normal-nav-text-color: #858686;
  --active-nav-text-color: #20e29f;
  --active-nav-bg-color: #f5f5f5;
}

body {
  height: 100vh;
  overflow: hidden;
}
/* app  */
.app {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

::-webkit-scrollbar {
  width: 5px;
}
::-webkit-scrollbar-thumb {
  background-color: var(--active-nav-text-color);
  border-radius: 30px;
}

/*  default styles for all modal */
.modal-content {
  max-width: 700px;
  min-width: 600px;
  margin: 0 auto;
}

/* sice nav bar  */
.side-nav-bar {
  padding: 0;
  background-color: var(--side-nav-bar-bg-color);
  position: relative;
  box-shadow: 6px 0px 12px #e7e7e7;
  z-index: 3;
  border-top-right-radius: 30px;
  border-bottom-right-radius: 30px;
  transition: all 0.2s ease-in-out;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.headerBottom-content__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-bottom: 20px;
}
.image-headerBottom__container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
  padding-left: 20px;
  border-bottom: 1px solid var(--normal-nav-text-color);
  padding-bottom: 20px;
}
.image-headerBottom__container img {
  background-color: var(--active-nav-text-color);
  border-radius: 50%;
  cursor: pointer;
  width: 30px;
}

.logo__sideBar img {
  margin: 27px 20px 30px 20px;
}

.logo-with-hover {
  max-width: 200px;
  max-height: 50px;
}
.logo-without-hover {
  max-height: 50px;
  max-width: 35px;
}

.side-nav-bar ul {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  padding: 0px;
}
.side-nav-bar ul li {
  list-style: none;
  padding: 0;
  width: 100%;
  margin-bottom: 25px;
}

.side-nav-bar ul li a {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  text-decoration: none;
  padding-left: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  position: relative;
  border-top-right-radius: 25px;
  border-bottom-right-radius: 25px;
}

.active-link::before {
  content: "";
  width: 4px;
  background-color: var(--active-nav-text-color);
  position: absolute;
  left: 0;
  height: 100%;
}

.showArrow::after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-top: 2px solid #858685;
  border-right: 2px solid #858685;
  position: absolute;
  right: 15px;
  font-size: 25px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  transform: rotate(45deg);
}
.showArrowGreen::after {
  border-top: 2px solid #20e29f;
  border-right: 2px solid #20e29f;
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  position: absolute;
  right: 15px;
  font-size: 25px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  transform: rotate(45deg);
}

.active-link {
  position: relative;
}

.side-nav-bar ul li a img {
  width: 30px;
  mix-blend-mode: darken;
}

.side-nav-bar ul li a p {
  margin-bottom: 0;
  margin-left: 15px;
  font-size: 15px;
}

/* mycalendar */
.my-calendar {
  width: 100%;
  /* height: "90vh";
  overflow-y: "auto"; */
  overflow: hidden;
  padding: 30px;
  background-color: var(--my-calendar-bg-color);
}

/* header style  */
.rbc-toolbar {
  margin-bottom: 40px;
  position: relative;
  background-color: #fff;
  box-shadow: 6px 0px 12px #e7e7e7;
  padding: 10px 20px;
  border-radius: 20px;
}

.rbc-toolbar-label {
  display: none;
}
.rbc-toolbar {
  display: none;
}
.rbc-event:focus,
.rbc-event:focus-within {
  border: none;
  outline: none;
  background-color: none;
}

.calenderTopBar {
  max-width: 100%;
  display: flex;
  background-color: #fff;
  box-shadow: 6px 0px 12px #e7e7e7;
  margin: 0 30px 10px 0;
  border-radius: 20px;
  padding: 0px 20px;
  align-items: center;
}
.container-calenderTopBar {
  width: 100%;
  margin: 0px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.leftPart-calenderTopBar,
.rightPart-calenderTopBar {
  padding: 0;
  display: flex;
  align-items: center;
  width: fit-content;
  margin: 13px 0px;
}
.leftPart-calenderTopBar > div:first-child,
.leftPart-calenderTopBar > div:last-child {
  padding: 0;
}

.leftPart-calenderTopBar h2 {
  margin-bottom: 0;
}

.leftPart-calenderTopBar:first-child {
  width: auto;
}
.leftPart-calenderTopBar > div:last-child {
  width: 100%;
  display: flex;
  align-items: center;
  margin-left: 20px;
}
.leftPart-calenderTopBar > div:last-child > button {
  padding: 0px 15px;
  border-left: 1px solid #ccc;
  white-space: pre;
}

.monthSelect-calenderTopBar {
  outline: none;
  border: none;
  margin-right: 10px;
  cursor: pointer;
}

.btnScheduler-calenderTopBar {
  padding: 0;
  background: none;
  color: #000;
  border: none;
}

.btnScheduler-calenderTopBar:hover,
.btnScheduler-calenderTopBar:active,
.btnScheduler-calenderTopBar:focus,
.btnScheduler-calenderTopBar:focus-visible {
  color: #000;
  background: none;
  border: none;
  outline: none;
}

.rightPart-calenderTopBar > .btn-newClient-header__clientPage {
  margin-left: 20px;
}

.rbc-header,
.rbc-month-view,
.rbc-day-bg,
.rbc-month-row {
  border: 0px !important;
}

.rbc-addons-dnd {
  width: 100%;
  overflow-x: scroll;
}
.rbc-row {
  padding-right: 5px;
}
.rbc-month-view {
  border-radius: 20px;
  display: block;
  overflow-y: scroll;
}
.rbc-month-view::-webkit-scrollbar {
  width: 10px;
  background-color: #ededed;
  border-radius: 10px;
}

.rbc-month-row {
  height: fit-content;
  padding: 10px 0;
  /* min-height: 100px; */
  min-height: 20%;
}
.rbc-month-row:last-child {
  padding-bottom: 0;
}

.rbc-month-header {
  display: none;
}

.rbc-day-bg {
  margin: 5px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 1px #e7e7e7;
  border-radius: 12px;
}
.rbc-row-bg {
  border: none;
  padding-right: 5px;
}

.rbc-row-bg > div:last-child {
  margin-right: 0;
  padding-left: 7px;
}

.rbc-row-content {
  height: 100%;
  position: relative;
  padding-top: 24px;
  padding-bottom: 24px;
  padding-right: 2px;
}
.rbc-row-content > div:first-child {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
}

.rbc-event-content {
  font-size: 10px;
}

.rbc-date-cell {
  position: relative;
}
.rbc-row-segment {
  margin: 1px 0;
}
.cellOptions__myCalendar {
  width: 89%;
  margin-left: 5px;
  position: relative;
  display: flex;
  justify-content: space-between;
  height: 100%;
  flex-direction: column;
  min-height: 13.7vh;
}
.day-cellOptions__myCalendar,
.date-cellOptions__myCalendar {
  font-size: 12px;
  margin: 0 0 0 5px;
  text-align: left;
}

.date-cellOptions__myCalendar {
  text-align: end;
}

.mainCalenderContainer {
  display: flex;
  height: 85vh;
}
.left_mainCalenderContainer {
  width: 242px;
  background-color: #fff;
  box-shadow: 0px 0px 3px 1px #e7e7e7;
  margin-right: 5px;
  border-radius: 20px;
  height: 97%;
}

.firstChild_leftMenu,
.lastChild_leftMenu {
  height: 50%;
  padding: 10px;
}

.firstChild_leftMenu {
  border-bottom: 1px solid #ccc;
}

.allClient-firstChild_leftMenu {
  overflow-y: scroll;
  height: 60%;
  padding: 5px 0px;
}

.text-key_firstChild_leftMenu {
  margin: 0;
  font-size: 12px;
  font-weight: 700;
}
.eyeIcon {
  width: 20px;
  margin: 0px 0px;
  cursor: pointer;
}
.text-resources_firstChild_leftMenu {
  font-size: 13px;
  margin: 0;
}
.empList_firstChild_leftMenu {
  padding: 0;
  border-radius: 10px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  margin-bottom: 5px;
}
.empList_firstChild_leftMenu p {
  margin: 0;
  font-size: 12px;
  color: #fff;
  line-height: 10px;
  padding: 7px;
}
.eyeIcon_firstChild_leftMenu {
  width: 20px;
  margin: 0px 4px;
}

.rbc-addons-dnd-resize-ew-anchor,
.rbc-addons-dnd-resize-ew-anchor {
  width: 10px;
  height: 20px;
  top: 0 !important;
  height: 100%;
}
.rbc-addons-dnd-resizable > div:first-child {
  left: -4px !important;
}

.rbc-addons-dnd-resizable > div:last-child {
  right: -4px !important;
}
.rbc-addons-dnd-resizable > div:first-child > .rbc-addons-dnd-resize-ew-icon,
.rbc-addons-dnd-resizable > div:last-child > .rbc-addons-dnd-resize-ew-icon {
  width: 100%;
  height: 100%;
}
.closeIconBtn {
  border: none;
  outline: none;
  border-radius: 50%;
}
.closeIconBtn img {
  padding: 7px;
}

.scheduleNewJobModal > .modal-dialog {
  max-width: 60%;
}
.btnCont__scheduleNewJobModal {
  display: flex;
  align-items: center;
}
.btnGroup-header__clientPage {
  height: fit-content;
}
.btnCont__scheduleNewJobModal > .btn-newClient-header__clientPage {
  margin: 0px 15px;
}
.fieldTitle__scheduleNewJobModal {
  font-weight: bold;
  margin: 5px 0px 5px;
  padding: 0px;
  line-height: 10px;
}
.commonInpStyleNewJob {
  border-radius: 15px;
  padding: 3px 10px;
  background-color: #ededed;
  outline: none;
  border: none;
  height: 35px;
}
.commonInpStyleNewJob:focus {
  outline: none;
  border: none;
  box-shadow: none;
  background-color: #ededed;
}
.selectClt__scheduleNewJobModal {
  position: relative;
}
.addClient__scheduleNewJobModal {
  position: absolute;
  right: 40px;
  top: 6px;
  font-size: 9px !important;
}
.addClient__scheduleNewJobModal img {
  width: 12px !important;
}

.selectedClient {
  width: 20px;
  height: 20px;
  margin: 2px 4px;
}

.formGroup__CNC {
  position: relative;
}
.fieldBtnCont__CNC {
  position: absolute;
  top: 33px;
  right: 5px;
  background: var(--active-nav-text-color);
  border-radius: 50%;
  padding: 0;
  margin: 0;
}
.fieldBtnCont__CNC img {
  margin: 0px 2px 2px 2px;
  cursor: pointer;
}

.listOutClient__CNC {
  display: flex;
  flex-wrap: wrap;
}
.client_CNC {
  display: flex;
  background-color: #ededed;
  padding: 2px 7px;
  border-radius: 13px;
  margin: 7px 5px;
  align-items: center;
}
.client_CNC p {
  margin: 0;
  font-size: 15px;
}
.client_CNC img {
  background-color: var(--active-nav-text-color);
  border-radius: 50%;
  width: 15px;
  height: 16px;
  margin-left: 5px;
  cursor: pointer;
}

/* client page styles  */
.clientPage {
  background-color: var(--my-calendar-bg-color);
  width: 100%;
  padding: 30px 0px 30px 30px;
}

.header__clientPage {
  background-color: #fff;
  box-shadow: 6px 0px 12px #e7e7e7;
  margin: 0 30px 10px 0;
  border-radius: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 13px 20px;
}
.header__clientPageTitle {
  font-size: 30px;
  margin-bottom: 0;
  font-weight: 600;
  font-family: "sofia-pro", sans-serif;
  padding-bottom: 4px;
  line-height: 0px;
}
.rightPart-header__clientPage {
  display: flex;
}
.btnGroup-header__clientPage {
  margin-right: 20px;
  background-color: #d8d2d1;
  border-radius: 20px;
}
.btnGroup-header__clientPage button,
.btn-newClient-header__clientPage {
  font-size: 12px;
  padding: 5px 15px;
  border-radius: 20px;
  background-color: #d8d2d1;
  border: none;
  color: #fff;
}
.btn-newClient-header__clientPage {
  background-color: var(--active-nav-text-color);
  font-weight: 600;
  white-space: pre;
}
.btn-newClient-header__clientPage img {
  width: 17px;
  margin-right: 5px;
}
.refreshIcon-header__clientPage {
  margin-left: 20px;
  background-color: var(--active-nav-bg-color);
  border-radius: 50%;
  padding: 0px 6px 3px;
  cursor: pointer;
}
.refreshIcon-header__clientPage img {
  transform: rotate(268deg);
  width: 17px;
  transition: all 0.3s;
}
.detailsContainer__clientPage {
  display: flex;
  margin-right: 30px;
  height: 80vh;
}
.commonContainer-detailsContainer__clientPage {
  background-color: #fff;
  box-shadow: 6px 0px 12px #e7e7e7;
  padding: 10px 20px;
  border-radius: 20px;
  width: 50%;
}
.retainerBased-detailsContainer__clientPage {
  margin-left: 8px;
}
.projectBased-detailsContainer__clientPage {
  margin-right: 8px;
}
.commonContainer-detailsContainer__clientPage p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  font-family: "sofia-pro", sans-serif;
  margin-bottom: 5px;
}
.searchContainer-detailsContainer__clientPage {
  background-color: #ededed;
  border-radius: 20px;
  padding: 4px 8px;
  display: flex;
  align-items: center;
  margin-top: 10px;
  margin-top: 5px;
}
.searchContainer-detailsContainer__clientPage img {
  width: 17px;
  margin-right: 5px;
}
.searchContainer-detailsContainer__clientPage input {
  width: 92%;
  font-size: 14px;
  background-color: #ededed;
  border: none;
  outline: none;
}
.dataContainer-detailsContainer__clientPage {
  overflow-y: scroll;
  height: 85%;
  margin-top: 10px;
}
.dataContainer-detailsContainer__clientPage::-webkit-scrollbar {
  width: 12px;
  background-color: #ededed;
  border-radius: 10px;
}

.data-detailsContainer__clientPage {
  display: flex;
  align-items: center;
  padding: 7px 0px;
  border-bottom: 1px solid #b0a4a4;
  position: relative;
  cursor: pointer;
  margin-right: 10px;
}
.data-detailsContainer__clientPage::after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  right: 15px;
  font-size: 25px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  transform: rotate(45deg);
}
.data-detailsContainer__clientPage img {
  max-width: 30px;
  height: 25px;
  object-fit: contain;
}
.data-detailsContainer__clientPage p {
  margin-bottom: 0;
  text-transform: uppercase;
  font-size: 12px;
  font-weight: 400;
  margin-left: 8px;
}

/* specific client page */
.tableCont__specificClient {
  height: 85%;
  overflow-y: auto;
  margin: 10px 0px 10px;
}
.tableCont__specificClient::-webkit-scrollbar {
  width: 12px;
  background-color: #ededed;
  border-radius: 10px;
}
.retainer-scrollView {
  overflow: auto;
}

.table__specificClient {
  width: 99%;
  border-collapse: separate;
  border-spacing: 0 8px;
  overflow-y: hidden;
}

.table__specificClient tr > td:first-child {
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}
.table__specificClient tr > td:last-child {
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  border-right: none;
}

.table__specificClient > tr:first-child > td,
.table__specificClient > tr:first-child > th {
  background-color: transparent;
}

.table__specificClient > tr:first-child > th:last-child {
  border-right: none;
}
.table__specificClient td,
th {
  padding: 3px 10px;
  background-color: #ededed;
  border-right: 1px solid #cdcdcd;
  font-size: 13px;
}

/* sign in form */
.signIn {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  padding-top: 30px;
}
.signIn form {
  width: 80%;
  display: flex;
  flex-direction: column;
  max-width: 400px;
}
.signIn input {
  outline: none;
  border: none;
  background-color: #ededed;
  color: #000;
  font-size: 15px;
  border-radius: 15px;
  padding: 10px 14px;
  margin-bottom: 17px;
}
.button__signIn {
  padding: 11px;
  width: 200px;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
}
.error-message__signIn,
.success-message__signIn {
  text-align: center;
  margin-bottom: 10px;
}
.success-message__signIn {
  color: #20e29f;
}
.error-message__signIn {
  color: red;
}

.loginSvgIcon {
  width: 35px;
  border: 1px solid #20e29f;
  border-radius: 50%;
  padding: 5px;
}

.loggedInDetailsCont__signIn {
  display: flex;
  flex-direction: column;
}

/* userDetailsCont__sideBar */
.userDetailsCont__sideBar a {
  width: max-content;
  margin-left: 18px;
  margin-bottom: 20px;
  text-decoration: none;
  display: block;
}

.userDetails__sideBar p {
  font-size: 20px;
  text-transform: capitalize;
  color: #fff;
  background: #000;
  border-radius: 50%;
  padding: 2px 11px 1px 11px;
}
.userDetails__sideBar {
  width: fit-content;
  cursor: pointer;
}

.compProfile {
  padding: 0;
}
.header__compProfile {
  margin: 0;
}
.header__compProfile a {
  text-decoration: none;
}
.header__compProfile a p {
  margin: 0 10px 0 0;
}
.empCont__CompProfile {
  position: relative;
  overflow: scroll;
  max-height: 93%;
  align-items: center;
  flex-wrap: wrap;
  width: 100%;
  align-items: flex-start;
}

.emp-empCont__CompProfile {
  display: flex;
  align-items: center;
  margin: 12px;
  position: relative;
  cursor: pointer;
  width: 152px;
  max-width: 255px;
}
.emp-empCont__CompProfile::after {
  content: "";
  width: 10px;
  height: 10px;
  background: transparent;
  border-top: 2px solid #000;
  border-right: 2px solid #000;
  position: absolute;
  right: 5px;
  font-size: 25px;
  color: inherit;
  font-family: "Roboto", sans-serif;
  transform: rotate(45deg);
}

.emp-empCont__CompProfile img {
  width: 53px;
  height: 54px;
  object-fit: cover;
  border: 2px solid var(--active-nav-text-color);
  border-radius: 50%;
}

.details-emp-empCont__CompProfile {
  margin-right: 15px;
}
.details-emp-empCont__CompProfile p {
  font-size: 14px;
  line-height: 10px;
  margin-left: 10px;
  width: 91%;
  line-height: 16px;
  font-family: sans-serif;
  font-weight: 100;
}

.rightPart-header__addResModal {
  display: flex;
  align-items: center;
  width: 44%;
  justify-content: space-between;
}

.colorCont__addResModal {
  align-items: center;
  justify-content: center;
}
.colorCont__addResModal p {
  font-size: 12px;
  margin: 0;
  margin-right: 5px;
}
.colorInp__addResModal {
  width: 20px;
  height: 20px;
  outline: none;
  border: none;
}
.personCont__empProfile {
  background-color: #ededed;
  display: flex;
  border-radius: 10px;
  flex-direction: column;
}
.common-personCont__empProfile,
.Cont__empProfile,
.profile-personCont__empProfile {
  display: flex;
}
.profile-personCont__empProfile {
  padding: 10px;
}
.profile-personCont__empProfile h2 {
  font-size: 25px;
  font-family: "sofia-pro", sans-serif;
  margin-bottom: 10px;
}
.profile-personCont__empProfile h5 {
  font-size: 20px;
  font-family: "sofia-pro", sans-serif;
  margin-bottom: 15px;
}
.personImage {
  width: 110px;
  height: 110px;
  object-fit: cover;
  border-radius: 50%;
  margin: 0px 17px 0 10px;
  border: 2px solid var(--active-nav-text-color);
}
.commonCont-personCont__empProfile {
  margin-right: 23px;
}
.common-personCont__empProfile img {
  width: 20px;
  height: 20px;
  object-fit: contain;
}
.common-personCont__empProfile p {
  font-size: 12px;
  margin-left: 10px;
  margin-bottom: 15px;
}
.disCont-personCont__empProfile {
  padding: 12px;
  border-top: 1px solid var(--normal-nav-text-color);
}
.disCont-personCont__empProfile p {
  font-size: 12px;
  color: var(--normal-nav-text-color);
}
.signOutBtn__compProfile {
  padding: 0px 14px;
  width: fit-content;
  font-size: 12px;
}
.radio__outOfOffice > .form-check {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  padding: 0;
  margin: 0;
}
.radio__outOfOffice > .form-check > input {
  margin-left: 8px;
  margin-right: 20px;
}

.form-check-input {
  cursor: pointer;
  width: 20px;
  height: 20px;
  position: relative;
  margin-top: 0;
}
.form-check-input:checked,
.form-check-input:active,
.form-check-input:focus {
  background-color: var(--active-nav-text-color);
  border: none;
  outline: none;
  box-shadow: none;
}
.form-check-input:checked[type="radio"] {
  background-image: none;
}
.loader {
  height: 100%;
  display: flex !important;
  align-items: center;
  justify-content: center;
}
.loaderInClient {
  height: 100vh;
  width: 100%;
}

.edit-client__clientPage {
  background: none;
  text-decoration: underline;
  font-size: 15px;
  padding: 0;
  border: none;
  margin-right: 20px;
  font-family: "sofia-pro", sans-serif;
}

.cellEvent__myCalendar span {
  font-size: 10px;
}

.archivedClient__clientPage {
  background-color: #fff;
  box-shadow: 6px 0px 12px #e7e7e7;
  padding: 10px 20px;
  border-radius: 20px;
  margin-right: 30px;
  height: 80vh;
}
.archivedClient__clientPage p {
  font-weight: 600;
  font-size: 20px;
  margin-bottom: 0;
  font-family: "sofia-pro", sans-serif;
  margin-bottom: 5px;
}
.viewSprint-inner-modal {
  margin: 10px 0px;
  background-color: #ededed;
  border-radius: 18px;
  padding: 20px 15px;
}
.viewSprint-inner-modal strong,
.viewSprint-inner-modal label {
  font-size: 15px;
  line-height: 15px;
}
.viewSprint-inner-modal input,
.viewSprint-inner-modal input:focus,
.viewSprint-inner-modal select:disabled {
  background-color: #fff;
  max-height: 30px;
  margin: 0 0 0 5px;
}
.viewSprint-inner-modal p {
  font-size: 12px;
  margin: 0;
}
.inputContainer {
  display: flex;
  align-items: center;
}
.addHours {
  background: var(--active-nav-text-color);
  border-radius: 50%;
  padding: 0;
  border: none;
  outline: none;
  margin-left: 5px;
}
.addHours > img {
  padding: 5px;
}
.detailsForm-viewSprint {
  height: 100%;
}
.detailsForm-viewSprint,
.progressCont {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.progressCont {
  position: relative;
  padding: 10px;
}

.progressCont,
.progressBar {
  align-items: center;
  width: 170px;
  height: 170px;
  border: 30px solid #fff;
  border-radius: 50%;
  margin: 5px auto;
}

.progressBar circle {
  width: 100%;
  height: 100%;
  fill: transparent;
  stroke-width: 30px;
  stroke-dasharray: 440;
}
.viewJob {
  position: absolute;
  border: none;
  top: -30px;
  left: -30px;
  width: inherit !important;
}
.viewJob > .CircularProgressbar-path {
  stroke: #20e29f !important;
}
.viewJob > .CircularProgressbar-trail {
  stroke: #fff !important;
}
.jobList-singleRow {
  cursor: pointer;
}

.retainer-progressBar {
  width: 167px !important;
  overflow: initial;
  height: 176px;
  margin-top: 20px;
}
.retainer-progressBar > .CircularProgressbar-path {
  stroke: #20e29f !important;
}
.retainer-progressBar > .CircularProgressbar-path {
  stroke-width: 20px;
}
.retainer-progressBar > .CircularProgressbar-trail {
  stroke: #000 !important;
  stroke-width: 20px;
  position: initial !important;
}

.retainerTrackerCont {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 10px;
}
.monthTracking {
  background: #f5f5f5;
  border-radius: 10px;
  padding: 10px;
  margin-top: 30px;
  overflow-y: auto;
  /* max-height: 170px;
  width: 58%; */
  max-height: 170px;
  min-width: 220px;
  width: 63%;
}
.timeCont-monthTracking {
  display: flex;
  border-bottom: 1px solid #000;
  justify-content: space-between;
}
.month-monthTracking {
  font-size: 16px !important;
  line-height: 15px;
  margin-bottom: 15px;
  min-width: 180px;
  margin-top: 10px;
}
.timeCont-monthTracking > p {
  font-size: 12px;
  padding-bottom: 7px;
  line-height: 10px;
  display: flex;
  align-items: center;
}
.timeCont-monthTracking > p:first-child {
  margin-right: 10px;
}
.timeCont-monthTracking > p:first-child > span,
.timeCont-monthTracking > p:last-child > span {
  border-radius: 15px;
  padding: 4px 6px;
  white-space: pre;
  margin-left: 4px;
}
.timeCont-monthTracking > p:first-child > span {
  background: #20e29f;
  color: #fff;
}
.timeCont-monthTracking > p:last-child > span {
  background: #000;
  color: #fff;
}
.timeFilter-cont {
  position: absolute;
  top: 61px;
  left: 34px;
}
.timeFilter-cont > select {
  border: none;
  outline: none;
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  width: 100%;
  margin: 4px 0px;
  font-size: 13px;
}
.timeFilter-cont-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.timeFilter-cont-inner-title {
  font-size: 15px !important;
  margin: 0px;
  line-height: 10px;
  letter-spacing: -0.5px;
}
.timeFilter-cont-inner-val {
  color: #20e29f;
  font-size: 15px !important;
  font-weight: 500 !important;
  line-height: 10px !important;
  margin-top: 4px;
}
/* media query  */

@media only screen and (max-width: 1105px) {
  .mainCalenderContainer {
    height: 80vh;
  }
}
